<h1>Properties list:</h1>
<%= render 'page_nav'%>
<table>
  <thead>
    <tr>
      <th>Public ID</th>
      <th>Title</th>
      <th>Type</th>
      <th>Location</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% @properties_list.each do |property| %>
      <tr>
        <td>
          <%= link_to property['public_id'], property_path(property['public_id'], from_page: @actual_page) %>
        </td>
        <td><%= property['title'] %></td>
        <td><%= property['property_type'] %></td>
        <td><%= property['location'] %></td>
        <td>
          <img src="<%= property['title_image_thumb'] %>" title="<%= property['title'] %>" />
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'page_nav'%>
